code_and_simulations/analysis/MOLA/16pixel_slopes.csv
/code_and_simulations/analysis/results/BSR-2.1/permittivity-co2-16pix/data
/code_and_simulations/analysis/results/BSR-2.1/permittivity-rego-16pix/data
